<body>
    <div class="bg-container">
        <div class="favorite-card d-flex flex-row justify-content-end">
            <h1 class="favorite-heading">Shop in <br /> your <br /> favorite<br /> stores </h1>

            <img src="https://assets.ccbp.in/frontend/static-website/stores-img.png" class="favourite-card-image" />
        </div>

        <div class="store-bg-container">
            <h1 class="store-heading">Select your store with one click</h1>
            <div class="website-card d-flex flex-row">
                <img src="https://assets.ccbp.in/frontend/static-website/amazon-logo-img.png" class="website-card-image" />
                <div class="app-card d-flex flex-column">
                    <h1 class="app-heading">Amazon</h1>
                    <p class="app-paragraph">Online Shoping Free Shipping & cash on Delivery...</p>
                </div>
            </div>
            <div class="website-card d-flex flex-row">
                <img src="https://assets.ccbp.in/frontend/static-website/ikea-logo-img.png" class="website-card-image" />
                <div class="app-card d-flex flex-column">
                    <h1 class="app-heading">IKEA</h1>
                    <p class="app-paragraph">Explore our furniture & home furnishing range IkEA is a global leader...</p>
                </div>
            </div>
            <div class="website-card d-flex flex-row">
                <img src="https://assets.ccbp.in/frontend/static-website/bewakoof-logo-img.png" class="website-card-image" />
                <div class="app-card d-flex flex-column">
                    <h1 class="app-heading">Bewakoof</h1>
                    <p class="app-paragraph">A Lifestyle Fashion Brand That offers Creative and Distinctive Fashion...</p>
                </div>
            </div>
            <div class="website-card d-flex flex-row">
                <img src="https://assets.ccbp.in/frontend/static-website/flipkart-logo-img.png" class="website-card-image" />
                <div class="app-card d-flex flex-column">
                    <h1 class="app-heading">Flipkart</h1>
                    <p class="app-paragraph">Wide Range of Genuine products,easy Returns,cash on Delivery.Browser Now...</p>
                </div>
            </div>
        </div>
    </div>



</body>

</html>